<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container py-5">

        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="r" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="o" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="p" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="j" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="I" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="HG" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="DC" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="lc-block bg-white rounded shadow"><img src="S" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="768" loading="lazy">
                    <div class="lc-block p-4">
                        <div editable="rich">
                            <h2>My Title</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    
</body>
</html>